<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>App | FumeTune</title>
        {% include "header.html" %}
    </head>

    <body class="is-preload landing">
        <div id="page-wrapper">

            {% include "navbar.html" %}

				<section id="banner">
					<div class="content">
						<header>
							<h2>FumeTune Dashboard</h2>

                            <br>

                            <h3>Coming Soon! &trade;</h3>

                        </header>
						<span class="image">
                            <img alt="logo" src="/assets/images/FumeTune.png">
                        </span>
					</div>
                </section>

       			{% include "footer.html" %}

		</div>

		{% include "scripts.html" %}

	</body>
</html>
