<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>App | FumeGuard</title>
        {% include 'header.html' %}
    </head>

    <body class="is-preload landing">
        <div id="page-wrapper">

            {% include 'navbar.html' %}

				<section id="banner">
					<div class="content">
						<header>
							<h2>FumeTune Dashboard</h2>

                            <br>

                            <h3><i>Coming Soon!</i></h3>

                        </header>
						<span class="image">
                            <img alt="logo" src="/assets/images/FumeTune.png">
                        </span>
					</div>
                </section>

       			{% include 'footer.html' %}

		</div>

		{% include 'scripts.html' %}

	</body>
</html>
