# Copy to .env and fill in. In production these are provided by Doppler.

# Secrets
SECRET_KEY=
DISCORD_CLIENT_SECRET=
DISCORD_BOT_TOKEN=

# Discord OAuth
DISCORD_CLIENT_ID=
DISCORD_REDIRECT_URI=http://localhost:5000/callback

# Community
COMMUNITY_GUILD_ID=
COMMUNITY_INVITE_URL=https://fumes.top/community

# FumeGuard
FUMEGUARD_STANDARD_PORT=10001
FUMEGUARD_MULTICAST_PORT=20001
FUMEGUARD_INVITE_URL=
FUMEGUARD_VOTE_URL=
FUMEGUARD_REVIEW_URL=

# FumeTune
FUMETUNE_STANDARD_PORT=10002
FUMETUNE_MULTICAST_PORT=20002
FUMETUNE_INVITE_URL=
FUMETUNE_VOTE_URL=
FUMETUNE_REVIEW_URL=

# FumeTool
FUMETOOL_STANDARD_PORT=10003
FUMETOOL_MULTICAST_PORT=20003
FUMETOOL_INVITE_URL=
FUMETOOL_VOTE_URL=
FUMETOOL_REVIEW_URL=

# Misc
TEMPLATES_AUTO_RELOAD=False
