<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>FumeStop</title>
        {% include "header.html" %}
    </head>

    <body class="is-preload landing">
        <div id="page-wrapper">

                {% include "navbar.html" %}

				<section id="banner">
					<div class="content">
						<header>
                            <h2>
                                Welcome to <b>the FumeStop community!</b> &#128526;
                            </h2>
							<p>
                                Hello there! &#128075; <br>
							    FumeStop is a collection of versatile Discord bots, having a wide range of features <br>
                                from moderation to music, which enhances your Discord experience!
                            </p>
						</header>
						<span class="image">
                            <img alt="logo" src="/assets/images/fumestop.png">
                        </span>
					</div>
					<a href="#one" class="goto-next scrolly">Next</a>
				</section>

    			<section id="one" class="wrapper style1 special fade-up">
					<div class="container">
						<header class="major">
							<h2>Features</h2>
							<p>Learn about all that the FumeStop community bots have to offer.</p>
						</header>
						<div class="box alt">
							<div class="row gtr-uniform">
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-hammer"></span>
									<h3>Moderation</h3>
									<p>Muting, kicking, warning, banning - we have all the tools required to keep servers clean from miscreants.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-music"></span>
									<h3>Music</h3>
									<p>Enjoy high quality music from YouTube and Spotify, along with your friends.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-code"></span>
                                    <h3>Development</h3>
									<p>Whether it's a DNS or WHOIS lookup, or looking up packages on PyPI and NPM, we've got you covered.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-cogs"></span>
									<h3>Customization</h3>
									<p>Starting from logging to welcome messages, we have a lot of room for server personalization.</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-gift"></span>
									<h3>Giveaways <i>(Coming Soon)</i></h3>
									<p>Host awesome giveaways on your server using your favorite bot!</p>
								</section>
								<section class="col-4 col-6-medium col-12-xsmall">
									<span class="icon solid alt major fa-bell"></span>
									<h3>Events & Reminders <i>(Coming Soon)</i></h3>
									<p>With FumeStop, it is possible to create events and set reminders for your important tasks, for up to a week.</p>
								</section>
							</div>
						</div>
					</div>
                </section>

				<!-- section id="two" class="spotlight style1 bottom">
					<span class="image fit main"><img src="assets/images/pic02.jpg" alt="" /></span>
					<div class="content">
						<div class="container">
							<div class="row">
								<div class="col-4 col-12-medium">
									<header>
										<h2>Odio faucibus ipsum integer consequat</h2>
										<p>Nascetur eu nibh vestibulum amet gravida nascetur praesent</p>
									</header>
								</div>
								<div class="col-4 col-12-medium">
									<p>Feugiat accumsan lorem eu ac lorem amet sed accumsan donec.
									Blandit orci porttitor semper. Arcu phasellus tortor enim mi
									nisi praesent dolor adipiscing. Integer mi sed nascetur cep aliquet
									augue varius tempus lobortis porttitor accumsan consequat
									adipiscing lorem dolor.</p>
								</div>
								<div class="col-4 col-12-medium">
									<p>Morbi enim nascetur et placerat lorem sed iaculis neque ante
									adipiscing adipiscing metus massa. Blandit orci porttitor semper.
									Arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer
									mi sed nascetur cep aliquet augue varius tempus. Feugiat lorem
									ipsum dolor nullam.</p>
								</div>
							</div>
						</div>
					</div>
					<a href="#three" class="goto-next scrolly">Next</a>
				</section>

				<section id="three" class="spotlight style2 right">
					<span class="image fit main"><img src="assets/images/pic03.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Interdum amet non magna accumsan</h2>
							<p>Nunc commodo accumsan eget id nisi eu col volutpat magna</p>
						</header>
						<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#four" class="goto-next scrolly">Next</a>
				</section>

				<section id="four" class="spotlight style3 left">
					<span class="image fit main bottom"><img src="assets/images/pic04.jpg" alt="" /></span>
					<div class="content">
						<header>
							<h2>Interdum felis blandit praesent sed augue</h2>
							<p>Accumsan integer ultricies aliquam vel massa sapien phasellus</p>
						</header>
						<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
						<ul class="actions">
							<li><a href="#" class="button">Learn More</a></li>
						</ul>
					</div>
					<a href="#five" class="goto-next scrolly">Next</a>
				</section -->

			{% include "footer.html" %}

		</div>

		{% include "scripts.html" %}

	</body>
</html>
