<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Premium | FumeStop</title>
        {% include 'header.html' %}

        <style>
            .img-center {
              display: block;
              margin-left: auto;
              margin-right: auto;
              width: 50%;
            }
        </style>
    </head>

    <body class="is-preload landing">
        <div id="page-wrapper">

            {% include 'navbar.html' %}

            <div id="main" class="wrapper style1">
					<div class="container">
                        <section>
                            <img src="/assets/images/coming-soon.png" alt="Coming Soon Image" class="img-center">
                              <hr>
                              <h4 style="text-align: center">We're working on this feature!</h4>
						</section>

                    </div>

		    </div>

            {% include 'footer.html' %}

        </div>

		{% include 'scripts.html' %}

	</body>
</html>