<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Premium | FumeStop</title>
        {% include "header.html" %}

        <style>
            .img-center {
                display: block;
                margin-left: auto;
                margin-right: auto;
                width: 30%;
                height: 30%;
            }

            .text-center {
                text-align: center;
            }
        </style>
    </head>

    <body class="is-preload landing">
        <div id="page-wrapper">

            {% include "navbar.html" %}

            <div id="main" class="wrapper style1">
					<div class="container">
                        <section>
                            <img src="/assets/images/coming-soon.png" alt="Coming Soon" class="img-center">

                            <hr>

                            <h3 class="text-center">We're working&trade; on this feature!</h3>
						</section>

                    </div>

		    </div>

            {% include "footer.html" %}

        </div>

		{% include "scripts.html" %}

	</body>
</html>
