<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>Terms of Service | FumeStop</title>
        {% include 'header.html' %}
    </head>

    <body class="is-preload landing">
        <div id="page-wrapper">

            {% include 'navbar.html' %}

            <div id="main" class="wrapper style1">
					<div class="container">
						<header class="major">
							<h2>FumeStop's Terms of Service</h2>
							<p>Last updated: 1st January 2024</p>
						</header>

                        <section>
                            <p>Welcome to FumeStop! These Terms of Service <strong>("Terms")</strong> govern your use of the FumeStop community, its associated Discord bots, and services. By using FumeStop, you agree to comply with these Terms. Please read them carefully.</p>

							<h2>User Information Collection</h2>
								<p>FumeStop collects and stores user IDs and Discord server IDs solely for the purpose of enhancing user experience and providing services within the FumeStop community.</p>

							<h2>Data Deletion</h2>
                            <p>Users who wish to delete their stored information can do so by contacting us via the channels mentioned in <a href="#contact-information">Contact Information</a>. Upon receiving a deletion request, we will make reasonable efforts to promptly remove the user's stored data.</p>

							<h2>User Responsibilities</h2>
                                <p>a. Users are expected to comply with Discord's <a href="https://discord.com/guidelines" target="_blank">Community Guidelines</a> and <a href="https://discord.com/terms" target="_blank">Terms of Service</a> when using FumeStop.
                                    <br>
                                    b. Users are expected to comply with all the <a href="https://discord.com/channels/1188705022976999484/1188787651311063050" target="_blank">rules and regulations</a> of the FumeStop community.
                                    <br>
                                    c. Users are expected to comply with all applicable laws, including Indian laws and regulations, when using FumeStop.
                                    <br>
                                    d. Users must ensure the security of their accounts and refrain from sharing login credentials or engaging in activities that compromise account security.</p>

							<h2>Limitation of Liability</h2>
								<p>FumeStop and its administrators shall not be liable for any indirect, incidental, special, consequential, or punitive damages arising out of or in connection with the use or inability to use the FumeStop community.</p>

							<h2>Changes to the Terms</h2>
								<p>FumeStop reserves the right to modify or revise these Terms at any time. We will provide notice of significant changes by posting the updated Terms on our website or through Discord announcements. Your continued use of FumeStop after any changes constitutes acceptance of those changes.</p>

							<h2>Termination of Services</h2>
								<p>FumeStop reserves the right to suspend or terminate services for users who violate these Terms or engage in behavior deemed harmful to the community or its users.</p>

							<h2>Governing Law and Jurisdiction</h2>
								<p>These Terms shall be governed by and construed in accordance with the laws of India, without regard to its conflict of law principles. Any disputes arising from these Terms shall be subject to the exclusive jurisdiction of the courts in Gurugram, Haryana, India.</p>

							<h2 id="contact-information">Contact Information</h2>
                                <p>For any questions, concerns, or inquiries regarding these Terms or the FumeStop community, please contact <code>Sn1F3rt (@sn1f3rt)</code> via <b><a href="{{ url_for('meta._community') }}" target="_blank">the community server</a></b> or via email at <a href="mailto:contact@fumes.top">contact@fumes.top</a>.</p>

                        </section>

                    </div>

		    </div>

            {% include 'footer.html' %}

        </div>

		{% include 'scripts.html' %}

	</body>
</html>