<footer id="footer">
    <ul class="icons">
        <li><a href="https://github.com/FumeStop" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="https://www.linkedin.com/company/fumestop" target="_blank" class="icon brands fa-linkedin-in"><span class="label">Linkedin</span></a></li>
        <li><a href="https://x.com/FumeStop" target="_blank" class="icon brands fa-x-twitter"><span class="label">Twitter</span></a></li>
		<li><a href="mailto:contact@fumes.top" target="_blank" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        <li><a href="{{ url_for('meta._community') }}" target="_blank" class="icon brands fa-discord"><span class="label">Discord</span></a></li>
    </ul>

    <ul class="copyright">
        <li> &copy; <script>document.write(new Date().getFullYear())</script> <a href="https://sn1f3rt.me/">Sayan "Sn1F3rt" Bhattacharyya</a></li>
    </ul>
</footer>
