<footer id="footer">
    <ul class="icons">
        <li><a href="https://github.com/FumeStop" target="_blank" class="icon brands fa-github"><span class="label">GitHub</span></a></li>
        <li><a href="mailto:fumestop@sn1f3rt.dev" target="_blank" class="icon solid fa-envelope"><span class="label">Email</span></a></li>
        <li><a href="{{ url_for('meta._community') }}" target="_blank" class="icon brands fa-discord"><span class="label">Discord</span></a></li>
    </ul>

    <ul class="copyright">
        <li>&copy; <script>document.write(new Date().getFullYear())</script> <a href="https://sn1f3rt.dev/">Sayan "sn1f3rt" Bhattacharyya</a></li>
    </ul>
</footer>
