<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content=".">
<meta name="og:image" content="https://fumes.top/assets/images/FumeStop.png">
<link rel="icon" type="image/png" href="/assets/images/FumeStop.png">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/dropdown.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.css">
<noscript><link rel="stylesheet" href="/assets/css/noscript.css"></noscript>