<meta charset="utf-8" />
<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
<meta name="description" content="FumeStop is a collection of versatile Discord bots, having a wide range of features from moderation to music, to make your experience better!">
<meta name="og:image" content="/assets/images/FumeStop.png">
<link rel="icon" type="image/png" href="/assets/images/FumeStop.png">
<link rel="stylesheet" href="/assets/css/main.css">
<link rel="stylesheet" href="/assets/css/dropdown.css">
<link rel="stylesheet" href="/assets/css/fontawesome-all.min.css">
<link rel="stylesheet" href="/assets/css/noty.css">
<noscript><link rel="stylesheet" href="/assets/css/noscript.css"></noscript>