<header id="header">
    <h1 id="logo"><a href="/"><img alt="Banner" width="200" height="67" src="/assets/images/header.png"></a></h1>
    <nav id="nav">
        <ul>
            <li><a href="{{ url_for('meta._index') }}">Home</a></li>
            <li>
                <a href="#">Our Bots</a>
                <ul>
                    <li>
                        <a href="#">FumeGuard</a>
                        <ul>
                            <li><a href="{{ url_for('fumeguard._index') }}">Home</a></li>
                            <li><a href="{{ url_for('fumeguard._invite') }}" target="_blank">Invite</a></li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">FumeTune</a>
                        <ul>
                            <li><a href="{{ url_for('fumetune._index') }}">Home</a></li>
                            <li><a href="{{ url_for('fumetune._invite') }}" target="_blank">Invite</a></li>
                        </ul>
                    </li>
                </ul>
            </li>
            <li><a href="{{ url_for('meta._premium') }}">Premium</a></li>
			<li><a href="{{ url_for('meta._community') }}" target="_blank">Community</a></li>
    		<li>
                <a href="#">Legal</a>
                <ul>
                    <li><a href="{{ url_for('meta._terms') }}">Terms of Service</a></li>
                    <li><a href="{{ url_for('meta._privacy') }}">Privacy Policy</a></li>
                </ul>
            </li>
            {% if maintenance %}
                <li><a href="#" class="button primary">Be Right Back!</a></li>
            {% elif unauthorized %}
                <li><a href="{{ url_for("auth._login") }}" class="button primary">Get Started</a></li>
            {% else %}
                <li>
                    <a href="{{ url_for('dashboard._app') }}" class="button primary">Dashboard <i class="fa-solid fa-caret-down"></i></a>
                    <ul>
                        <li><a href="{{ url_for('fumeguard._app') }}">FumeGuard</a></li>
                        <li><a href="{{ url_for('fumetune._app') }}">FumeTune</a></li>
                    </ul>
                </li>
                <li><a href="{{ url_for('auth._logout') }}" class="button primary">Logout</a></li>
            {% endif %}
        </ul>
    </nav>
</header>
