<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/jquery.scrolly.min.js"></script>
<script src="/assets/js/jquery.dropotron.min.js"></script>
<script src="/assets/js/jquery.scrollex.min.js"></script>
<script src="/assets/js/browser.min.js"></script>
<script src="/assets/js/breakpoints.min.js"></script>
<script src="/assets/js/noty.js"></script>

<script src="/assets/js/util.js"></script>
<script src="/assets/js/main.js"></script>

<script>
    let btn = document.getElementById("dropdown-btn");

    if (btn) {
        let content = document.getElementById("dropdown-content");
        content.style.minWidth = btn.offsetWidth + "px";
    }
</script>

{% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <script type="text/javascript">
            {% for category, message in messages %}
                new Noty({
                    type: '{{ category }}',
                    theme: 'relax',
                    layout: 'topCenter',
                    text: '{{ message }}',
                    timeout: 3000
                }).show();
            {% endfor %}
        </script>
    {% endif %}
{% endwith %}