<!DOCTYPE HTML>
<html lang="en">
    <head>
        <title>App | FumeGuard</title>
        {% include 'header.html' %}
    </head>

    <body class="is-preload landing">
        <div id="page-wrapper">

            {% include 'navbar.html' %}

				<section id="banner">
					<div class="content">
						<header>
							<h2>FumeGuard Dashboard</h2>

                            <br>

                            <h3>Choose whether you would like to update your profile <br>
                                or manage server settings.</h3>

                            <div class="dropdown">
                                <div id="dropdown-btn">
                                    <a href="#" class="button primary">Select an action <i class="fa-solid fa-caret-down"></i></a>
                                </div>

                                <div id="dropdown-content" class="dropdown-content">
                                    <a href="{{ url_for('fumeguard._profile_home') }}">Update Profile</a>
                                    <a href="{{ url_for('fumeguard._settings_home') }}">Manage Server Settings</a>
                                </div>
                            </div>

                        </header>

						<span class="image">
                            <img alt="logo" src="/assets/images/FumeGuard.png">
                        </span>
					</div>
                </section>

       			{% include 'footer.html' %}

		</div>

		{% include 'scripts.html' %}

	</body>
</html>
